.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 34px auto 37px;
  width: 358px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .form {
    width: 282px;
    margin: 25px auto;
}
}
