.popup__input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  color: #000;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
}

@media screen and (max-width: 767px) {
  .popup__input {
    width: 238px;
}
}
